$color-light-yellow: #FFF2CC;
$color-light-blue: #CCE5FF;
$color-light-pink: #FFCCCC;
$color-hard-pink: #CC0066;

table {
  border-collapse: collapse;
}

thead {
  background-color: $color-light-yellow;
  text-align: center;
  height: 60px;
}

tbody tr:nth-child(even) {
  background-color: $color-light-blue;
}

tbody tr {
  text-align: center;
}

td {
  width: 3%;
}

.ExcellenceCenterTable__row-item {
  height: 30px;
  &__CA{
    border-left: solid #36393D 1px;
  }
}

.ExcellenceCenterTable__row-total-item {
  background-color: $color-light-pink;
  height: 30px;
  &__CA{
    background-color: $color-light-pink;
    border-left: solid $color-hard-pink 1px;
  }
}

