.excellence-center {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  &__title{
    margin-left: -2%;
    margin-top: 10%;
  }
  &__buttons{
    width: 50%;
    margin-left: 2%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button-item{
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    justify-content: space-evenly;
    text-align: center;
  }
}

.legend {
  font-size: small;
}

.loader {
  position: absolute;
  left: 47%;
  top: 40%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid cornflowerblue; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loader-text{
  position: absolute;
  //text-align: center;
  left: 46%;
  top: 60%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}