.excellence-center {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  &__title{
    margin-left: -2%;
    margin-top: 10%;
  }
  &__buttons{
    width: 50%;
    margin-left: 2%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button-item{
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    justify-content: space-evenly;
    text-align: center;
  }
}

.legende {
  font-size: small;
}