table {
  border-collapse: collapse;
}

thead {
  background-color: #FFF2CC;
  text-align: center;
  height: 60px;
}

tbody tr:nth-child(even) {
  background-color: #CCE5FF;
}

tbody tr {
  text-align: center;
}

td {
  width: 3%;
}

.ExcellenceCenterTable__row-item {
  height: 30px;
  &__CA{
    border-left: solid #36393D 1px;
  }
}

.ExcellenceCenterTable__row-total-item {
  background-color: #FFCCCC;
  height: 30px;
  &__CA{
    background-color: #FFCCCC;
    border-left: solid #CC0066 1px;
  }
}

