.formations {
    margin-left: 5em;
    margin-right: 5em;

    &__title {
      margin-left: -2em;
      margin-top: 5em;
      margin-bottom: 2em;
     }

  &__subtitle {
    margin-bottom: 2em;
  }
}